.features
  padding 0 0 24px
  position relative

  @media $large
    padding 48px 0

  @media $xlarge
    padding 96px 72px

.features::before
  background-image url(/assets/images/features-background.svg)
  background-position 0 0
  background-repeat no-repeat
  content ''
  display block
  height 100%
  left 0
  position absolute
  top -72px
  width 100%
  z-index -1

.features__title
  font-size 28px
  position relative
  text-align center

.features__row
  display flex
  flex-wrap wrap
  margin 0 auto

  @media $medium
    padding 12px 0
    margin 0 -12px

  @media $large
    margin 0 -24px
    padding 24px 0

.features__row + .features__row
  padding-top 24px

  @media $large
    padding-top 48px

.features__item
  display flex
  flex-direction column
  padding 12px 0
  position relative

.features__item--1-4
  width 100%

  @media $medium
    width 50%
    padding 12px

  @media $large
    width 25%

.features__item--1-3
  width 100%

  @media $medium
    width 50%
    padding 12px

  @media $large
    width 25%

.features__item.features__item--icon-left
  padding-left 72px

.features__item-panel
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.1);
  display flex
  flex-direction column
  flex-grow 1
  padding 24px

  @media $medium
    padding 32px

.features__item-icon
  margin 0 0 12px
  padding 0 48px

.features__item--icon-left .features__item-icon
  height 36px
  left 18px
  margin 0
  padding 0
  position absolute
  top 12px
  width 36px

.features__item-icon img
  width 100%

.features__item-title
  font-size 18px
  font-weight 700
  margin 0 0 8px