.hero
  align-items center
  display flex
  flex-direction column
  justify-content center
  padding 120px 0 192px
  position relative

  @media $medium
    height 100vh
    min-height 640px
    padding 72px 0

.hero__container
  display flex
  flex-wrap wrap

.hero__col
  width 100%

  @media $large
    width 50%

.hero__col:first-child
  @media $large
    padding-right 72px

.hero__col:last-child
  @media $large
    padding-left 24px


.hero__title
  font-size 24px
  margin 0 0 6px

  @media $medium
    font-size 36px

.hero__text
  @media $medium
    font-size 18px
    line-height 32px