.hero__text-wrap
  max-width 832px
  padding 48px 0

.hero__subtitle
  color #fff
  font-size 36px
  font-weight normal
  line-height 42px
  margin 0 0 20px
  text-align center

.hero__text
  color #fff
  font-size 20px
  line-height 32px
  text-align center