.hero
  align-items center
  display flex
  flex-direction column
  height 100vh
  justify-content flex-end
  min-height 640px
  padding 72px 48px 216px
  position relative

.hero__background
  background-image url(/assets/images/background.svg)
  background-position bottom center
  background-repeat no-repeat
  background-size cover
  height calc(100% - 216px)
  left 0
  position absolute
  top 0
  width 100%
  z-index -1