.container
  margin 0 auto
  max-width 1320px
  padding 60px 80px
  position relative
  width 100%

.content
  margin 0
  padding 0
  width 100%

  @media $medium
    padding 0 0 0 260px

  @media $xlarge
    margin 0 auto
    max-width 640px
    padding 0