.header
  box-shadow 0 0 48px rgba(0,0,0,.1)
  padding 24px
  position relative
  width 100%

.home .header
  box-shadow none
  left 0
  position absolute
  top 0
  z-index 1

.header__grid
  display flex
  justify-content space-between

.header__col
  min-height 1px