.main-nav__list
  display flex
  list-style none

.main-nav__item
  margin 0 12px

.main-nav__link
  align-items center
  color #333
  display flex
  font-size 16px
  text-decoration none

.home .main-nav__link
  color: #fff

.main-nav__link-icon
  display block
  height 24px
  margin 0 12px 0 0
  width 24px

.main-nav__link-icon svg
  height 100%
  width 100%