.sidebar
  @media $medium
    display block
    padding 0 48px 0 0
    width 280px

.sidebar__group
  padding 20px 0

.sidebar__group-title
  border-bottom solid 1px rgba(0,0,0,.1)
  margin 0 0 12px
  padding 0 6px 4px

.sidebar__list
  list-style none
  padding 0 6px

.sidebar__list-item
  padding 2px 0

.sidebar__link
  color #333
  text-decoration none