<header id="header" class="header">
  <div class="header__grid">
    <div class="header__col">

    </div>
    <div class="header__col">

    </div>
    <div class="header__col">
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Premium Support</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Documentation</a>
          </li>
          <li class="main-nav__item">
            <a href="#" class="main-nav__link">Github</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>