// font faces
$body-font = "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$logo-font = "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$code-font = "Roboto Mono", Monaco, courier, monospace

// font sizes
$body-font-size = 15px
$code-font-size = .8em

$small = "all and (min-width: 480px)"
$medium = "all and (min-width: 640px)"
$large = "all and (min-width: 960px)"
$xlarge = "all and (min-width: 1440px)"