<section class="features">
    <div class="container">
        <h1 class="features__title">Features</h1>
        <div class="features__row">
            <div class="features__item features__item--1-4">
                <div class="features__item-panel">
                    <div class="features__item-icon">
                        <img src="/assets/images/icon-docker.jpg" alt="">
                    </div>
                    <h3 class="features__item-title">Docker & Docker Compose</h3>
                    <p>Docker is the company driving the container movement and the only container platform provider to address every application across the hybrid cloud. </p>
                </div>
            </div>
            <div class="features__item features__item--1-4">
                <div class="features__item-panel">
                    <div class="features__item-icon">
                        <img src="/assets/images/icon-kubernetes.jpg" alt="">
                    </div>
                    <h3 class="features__item-title">Kubernetes</h3>
                    <p>Kubernetes is an open-source system for automating deployment, scaling, and management of containerized applications.</p>
                </div>
            </div>
            <div class="features__item features__item--1-4">
                <div class="features__item-panel">
                    <div class="features__item-icon">
                        <img src="/assets/images/icon-helm.jpg" alt="">
                    </div>
                    <h3 class="features__item-title">Helm</h3>
                    <p>Helm helps you manage Kubernetes applications — Helm Charts helps you define, install, and upgrade even the most complex Kubernetes application.</p>
                </div>
            </div>
            <div class="features__item features__item--1-4">
                <div class="features__item-panel">
                    <div class="features__item-icon">
                        <img src="/assets/images/icon-git.jpg" alt="">
                    </div>
                    <h3 class="features__item-title">Git</h3>
                    <p>Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
                </div>
            </div>
        </div>

        <div class="features__row">
            <div class="features__item features__item--icon-left features__item--1-3">
                <div class="features__item-icon">
                    <img src="/assets/images/icon-arrows.svg" alt="">
                </div>
                <h3 class="features__item-title">Simple, Flexible, Scalable</h3>
                <p>Configure, run and switch between projects with a very simple command line interface.</p>
            </div>
            <div class="features__item features__item--icon-left features__item--1-3">
                 <div class="features__item-icon">
                     <img src="/assets/images/icon-env.svg" alt="">
                 </div>
                 <h3 class="features__item-title">Multiple Plans</h3>
                 <p>Create multiple plans for different use cases like development, demonstration, production, etc.</p>
            </div>
            <div class="features__item features__item--icon-left features__item--1-3">
                <div class="features__item-icon">
                    <img src="/assets/images/icon-keyboard.svg" alt="">
                </div>
                 <h3 class="features__item-title">Script Support (Hooks)</h3>
                <p>Run additional scripts with hooks any time.</p>
            </div>
            <div class="features__item features__item--icon-left features__item--1-3">
                <div class="features__item-icon">
                    <img src="/assets/images/icon-catalog.svg" alt="">
                </div>
                 <h3 class="features__item-title">Projects, Catalogs</h3>
                <p>Manage as many projects as you need, organize them into catalogs. Share catalogs between different teams or organisations.</p>
            </div>

        </div>
    </div>
</section>