<section class="features">
    <div class="features__container">
        <div class="features__item">
            <div>
                <img src="/assets/images/zap.svg" alt="">
            </div>
            <h2 class="features__item-title">Simple</h2>
            <p>Pocok interface is so simple that even managers without technical background are able to start any project.</p>
        </div>
        <div class="features__item">
            <div>
                <img src="/assets/images/command.svg" alt="">
            </div>
            <h2 class="features__item-title">One Command</h2>
            <p>Add catalog and switch between projects with one command</p>
        </div>
        <div class="features__item">
            <div>
                <img src="/assets/images/activity.svg" alt="">
            </div>
            <h2 class="features__item-title">Flexible</h2>
            <p>Pocok project are very flexible. You can create project of any complexity leaving project launch easy</p>
        </div>
        <div class="features__item">
            <div>
                <img src="/assets/images/layers.svg" alt="">
            </div>
            <h2 class="features__item-title">Multiple Plans</h2>
            <p>Multiple plans gives ability to run project in different environments (development, production, demo) with ease.</p>
        </div>
        <div class="features__item">
            <div class="features__item-icon">
                <img src="/assets/images/docker-logo.svg" alt="">
            </div>
            <h2 class="features__item-title">Docker</h2>
            <p>Docker is in Pocok's heart.</p>
        </div>
        <div class="features__item">
            <div class="features__item-logo">
                <img src="/assets/images/kubernetes-logo.png" alt="">
            </div>
            <h2 class="features__item-title">Kubernetes Support</h2>
            <p>Pocok also supports Docker Kubernetes.</p>
        </div>
        <div class="features__item">
            <div>
                <img src="/assets/images/grid.svg" alt="">
            </div>
            <h2 class="features__item-title">Multiple Catalogs</h2>
            <p>With multiple catalogs you can access to a large number of projects public and private.</p>
            <p>Missing some public project? You are welcomed to contribute to
                <a href="http://github/shiwaforce/registry.pocok.io">registry.pocok.io</a></p>
        </div>
    </div>
</section>