<section class="hero">
    <div class="hero__background"></div>
    <div class="hero__container container">
        <div class="hero__col">
            <h1 class="hero__title">Pocok</h1>
            <p class="hero__text">Pocok will help you to organise and manage Docker, Docker-Compose,
                Kubernetes projects of any complexity using simple YAML config files
                to shorten the route from finding your project to initialising it in your local environment.</p>
            <div class="hero__buttons">
                <a class="hero__button hero__button--primary" href="https://github.com/shiwaforce/pocok" target="_blank" rel="noopener">Get Started</a>
            </div>
        </div>
        <div class="hero__col">
            <div class="terminal">
                <div class="terminal__controls">
                    <div class="terminal__control terminal__control--close"></div>
                    <div class="terminal__control terminal__control--hide"></div>
                    <div class="terminal__control terminal__control--full"></div>
                </div>

                <div class="terminal-header">
                    <p class="terminal-header__text">
                        <span class="text-red">$</span><span class="text-green">:~ </span><span class="text-blue"> pocok </span>
                        <span class="terminal-txt-rotate text-blue" data-period="2000"
                              data-rotate='[ "init my-project", "up my-project", "project add my-project", "project ls" ]'></span>
                    </p>
                </div>

                <div class="terminal-logs">
                    <ul id="terminal-logs" class="terminal-logs__list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
