.container
  margin 0 auto
  max-width 1320px
  padding 0 12px
  position relative
  width 100%

  @media $medium
    padding 0 24px

.container.container--sidebar
  display flex
  flex-wrap wrap
  padding 24px 12px

  @media $medium
    padding 48px 24px 96px