code, pre
  background-color: #f8f8f8
  font-family: $code-font
  font-size: 14px
  -webkit-font-smoothing: initial
  -moz-osx-font-smoothing: initial

code
  border-radius: 2px
  color: #e96900
  margin: 0 2px
  padding: 3px 5px
  white-space: nowrap

.highlight
  background-color: #f8f8f8
  border-radius: 4px
  line-height: 1.1em
  overflow-x: auto
  margin 5px 0 0
  padding: .4em 0 0
  position: relative

  table, tr, td
    border-collapse: collapse
    margin: 0
    padding: 0
    width: 100%

  .gutter
    width: 1.5em

  .code
    pre
      line-height: 1.5em
      margin: 0
      padding: 1.2em 1.4em 1.6em

    .line
      min-height: 1.5em