*
  box-sizing: border-box
  margin: 0
  outline: none
  padding: 0

*::before,
*::after
  box-sizing: inherit

*:active,
*:focus,
*:hover
  outline: none

html,
body
  min-height: 100%
  position: relative
  width: 100%

body
  background: $bg-primary-color
  color: $primary-color
  font-family: $body-font
  font-size: $body-font-size
  font-weight: normal
  line-height: 1.6
  -webkit-text-size-adjust none

img
  max-width 100%

h1, h2, h3, h4, h5, h6, b, strong
  font-weight 600