// font faces
$body-font = "Roboto", Arial, sans-serif
$code-font = "Roboto Mono", Monaco, courier, monospace

// font sizes
$body-font-size = 14px
$code-font-size = .8em

// Colors
$primary-color = #425163
$secondary-color = #4da3e1
$secondary-light-color = #e3f0fe

$white-color = #fff

$bg-primary-color = #fff
$bg-primary-gradient-color = linear-gradient(127deg, #36d1dc, #5b86e5)

$small = "all and (min-width: 480px)"
$medium = "all and (min-width: 640px)"
$large = "all and (min-width: 960px)"
$xlarge = "all and (min-width: 1440px)"