.highlight
  overflow-x: auto
  background-color: #f8f8f8
  padding: .4em 0 0
  line-height: 1.1em
  border-radius: 4px
  position: relative
  table, tr, td
    width: 100%
    border-collapse: collapse
    padding: 0
    margin: 0
  .gutter
    width: 1.5em
  .code
    pre
      padding: 1.2em 1.4em
      line-height: 1.5em
      margin: 0
    .line
      min-height: 1.5em
  &.html, &.js, &.bash, &.css
    .code:before
      position: absolute
      top: 0
      right: 0
      color: #ccc
      text-align: right
      font-size: .75em
      padding: 5px 10px 0
      line-height: 15px
      height: 15px
      font-weight: 600
  &.html .code:before
    content: "HTML"
  &.js .code:before
    content: "JS"
  &.bash .code:before
    content: "Shell"
  &.css .code:before
    content: "CSS"