h1
  font-size 27px
  line-height 36px
  margin 0 0 20px

  @media $medium
    font-size 40px
    line-height 48px
    margin 0 0 40px

h2
  font-size 22px
  line-height 28px
  margin 20px 0 0

  @media $medium
    font-size 28px
    line-height 48px
    margin 40px 0 0

  @media $large
    font-size 32px

h3
  font-size 16px
  line-height 24px
  margin 20px 0 0

  @media $medium
    font-size 20px
    margin 40px 0 5px

  @media $large
    font-size 21px
    line-height 36px

h4
  font-size 15px
  line-height 24px
  margin 20px 0 0

p
  font-size 15px
  line-height 24px

p + p
  margin-top 10px

  @media $medium
    margin-top 20px

ul
  padding 0 0 0 20px

small
  font-size 12px
  line-height 20px

code, pre
  background-color: #f8f8f8
  font-family: $code-font
  font-size: 14px
  -webkit-font-smoothing: initial
  -moz-osx-font-smoothing: initial

code
  border-radius: 2px
  color: #5B85E7
  margin: 0 2px
  padding: 3px 5px
  white-space: nowrap

a
  color #5B85E7

a:hover
  text-decoration none

.highlight
  background-color: #f8f8f8
  border-radius: 4px
  line-height: 1.1em
  overflow-x: auto
  margin 5px 0 0
  padding: .4em 0 0
  position: relative

  table, tr, td
    border-collapse: collapse
    margin: 0
    padding: 0
    width: 100%

  .gutter
    width: 1.5em

  .code
    pre
      line-height: 1.5em
      margin: 0
      padding: 1.2em 1.4em 1.6em

    .line
      min-height: 1.5em

.table-wrap
  overflow-x auto
  width 100%

table
  border-collapse collapse
  margin 0 0 20px
  min-width 720px
  width auto

  @media $medium
    min-width 100%
    width 100%

tr:nth-child(2n) td
  background-color rgba(0,0,0,.05)

th
  background-color rgba(0,0,0,.05)
  text-align left

td,
th
  padding 15px 8px
  font-size 14px
  line-height 20px
  vertical-align top

td code
  background none
  font-weight bold
  padding 0

td p
  margin 0 0 10px