<footer class="footer">
    <div class="footer__content-top">
        <div class="footer__container container">
            <div class="footer__col">
                <a class="footer__container-link" href="https://github.com/shiwaforce/pocok" target="_blank" rel="noopener">
                    <div class="footer__container-icon">
                        <img src="/assets/images/icon-docs.svg" alt="">
                    </div>
                    <div>
                        <h4 class="footer__title">Read The Docs</h4>
                        <p>Get additional information</p>
                    </div>
                </a>
            </div>
            <div class="footer__col">
                <a class="footer__container-link" href="https://github.com/shiwaforce/pocok/releases" target="_blank" rel="noopener">
                    <div class="footer__container-icon">
                        <img src="/assets/images/icon-flag.svg" alt="">
                    </div>
                    <div>
                        <h4 class="footer__title">Releases</h4>
                        <p>Check out latest releases.</p>
                    </div>
                </a>
            </div>
            <div class="footer__col">
                <a class="footer__container-link" href="https://github.com/shiwaforce/pocok" target="_blank" rel="noopener">
                    <div class="footer__container-icon">
                        <img src="/assets/images/icon-pocok-small.svg" alt="">
                    </div>
                    <div>
                        <h4 class="footer__title">Pocok on Github</h4>
                        <p>Pocok is free and open source, check it on github and help to make it even more better.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__content-bottom">
        <div class="container">
            <div class="footer__row">
                <p>Released under the <a class="footer__link" href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT License</a></p>
                <p>Copyright © 2018. <a class="footer__link" href="https://shiwaforce.com" target="_blank" rel="noopener">Shiwaforce.com</a></p>
            </div>
        </div>
    </div>
</footer>

<script>
    setTimeout(function () {
        var assets = {
            css: ['/assets/css/fonts.css']
        };

        function loadAssets(files, v) {
            if (files && files.length) {
                window[v] = files.length;
                for (var i = 0; i < files.length; i++) {
                    var d = document, e = d.createElement('link');
                    e.setAttribute('href', files[i]);
                    e.setAttribute('rel', 'stylesheet');
                    e.setAttribute('type', 'text/css');
                    e.onload = function () {
                        if (!--window[v]) {
                            var ev = document.createEvent('Event');
                            ev.initEvent('cssLoaded');
                            document.body.dispatchEvent(ev);
                        }
                    };
                    e.onerror = e.onload;
                    d.getElementsByTagName('head')[0].appendChild(e);
                }
            }
        }
        loadAssets(assets.css, 'cssLoaderRemainFiles');
    });
</script>