<footer class="footer">
    <div class="footer__content-top">
        <div class="footer__container container">
            <% if (homePage) { %>
            <div class="footer__col">
                <a class="footer__container-link" href="/documentation">
                    <div class="footer__container-icon">
                        <img src="/assets/images/icon-docs.svg" alt="">
                    </div>
                    <div>
                        <h4 class="footer__title">Read The Docs</h4>
                        <p>Get additional information</p>
                    </div>
                </a>
            </div>
            <% } %>
            <div class="footer__col">
                <a class="footer__container-link" href="https://github.com/shiwaforce/proco/releases" target="_blank" rel="noopener">
                    <div class="footer__container-icon">
                        <img src="/assets/images/icon-flag.svg" alt="">
                    </div>
                    <div>
                        <h4 class="footer__title">Releases</h4>
                        <p>Check out latest releases.</p>
                    </div>
                </a>
            </div>
            <div class="footer__col">
                <a class="footer__container-link" href="https://github.com/shiwaforce/proco" target="_blank" rel="noopener">
                    <div class="footer__container-icon">
                        <img src="/assets/images/icon-pocok-small.svg" alt="">
                    </div>
                    <div>
                        <h4 class="footer__title">Proco on Github</h4>
                        <p>Proco is free and open source, check it on github and help to make it even more better.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__content-bottom">
        <div class="container">
            <div class="footer__row">
                <p>Released under the <a class="footer__link" href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT License</a></p>
                <p>Brought you with ❤️ by <a class="footer__link" href="https://www.shiwaforce.com/en/" target="_blank" rel="noopener">Shiwaforce.com</a></p>
            </div>
        </div>
    </div>
</footer>

<% if (!homePage) { %>
<script>
  function toggleClass(element, className){
    if (!element || !className){
      return;
    }

    var classString = element.className, nameIndex = classString.indexOf(className);
    if (nameIndex === -1) {
      classString += ' ' + className;
    }
    else {
      classString = classString.substr(0, nameIndex) + classString.substr(nameIndex+className.length);
    }
    element.className = classString;
  }

  document.getElementById('toggle-button').addEventListener('click', function() {
    toggleClass(document.getElementById('sidebar'), 'is-opened');
  });
  document.getElementById('sidebar-close').addEventListener('click', function() {
    toggleClass(document.getElementById('sidebar'), 'is-opened');
  });
</script>
<% } %>