<aside id="sidebar" class="sidebar">
    <div class="sidebar__group">
        <h3 class="sidebar__group-title">Getting Started</h3>
        <ul class="sidebar__list">
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/overview">Overview</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/setup">Install</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/configuration">Configuration</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/commands">Commands</a>
            </li>
        </ul>
    </div>

    <div class="sidebar__group">
        <h3 class="sidebar__group-title">Tutorials</h3>
        <ul class="sidebar__list">
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/basic-example">Basic</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/complex-example">Complex</a>
            </li>
        </ul>
    </div>
</aside>