<aside id="sidebar" class="sidebar">
    <div class="sidebar__group">
        <h3 class="sidebar__group-title">Getting Started</h3>
        <ul class="sidebar__list">
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation">Overview</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/install">Install</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/third-party-integrations">Third Party Integrations</a>
            </li>
        </ul>
    </div>

    <div class="sidebar__group">
        <h3 class="sidebar__group-title">CLI</h3>
        <ul class="sidebar__list">
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/cli/pocok">Pocok</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/cli/pocok-project">Pocok Project</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/cli/pocok-repo">Pocok Repo</a>
            </li>
        </ul>
    </div>

    <div class="sidebar__group">
        <h3 class="sidebar__group-title">Tutorials</h3>
        <ul class="sidebar__list">
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/tutorials/hello-world">Hello World</a>
            </li>
        </ul>
    </div>

    <button id="sidebar-close" class="sidebar__close"></button>
</aside>