<aside id="sidebar" class="sidebar">
    <div class="sidebar__group">
        <h3 class="sidebar__group-title">Getting Started</h3>
        <ul class="sidebar__list">
            <!--<li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/overview">Overview</a>
            </li>-->
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/install">Install</a>
            </li>
            <!--<li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/configuration">Configuration</a>
            </li>-->
        </ul>
    </div>

    <div class="sidebar__group">
        <h3 class="sidebar__group-title">CLI</h3>
        <ul class="sidebar__list">
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/cli/pocok">Pocok</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/cli/pocok-project">Pocok Project</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/cli/pocok-repo">Pocok Repo</a>
            </li>
        </ul>
    </div>

    <!--<div class="sidebar__group">
        <h3 class="sidebar__group-title">Tutorials</h3>
        <ul class="sidebar__list">
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/basic-example">Basic</a>
            </li>
            <li class="sidebar__list-item">
                <a class="sidebar__link" href="/documentation/complex-example">Complex</a>
            </li>
        </ul>
    </div>-->
</aside>